<div class="login-page">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :username, "Username:" %><br />
      <%= f.text_field :username, autocomplete: "username" %>
    </div>

    <div class="field">
      <%= f.label :email, "Email:" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "Password:" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Password confirmation:" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :city, "City:" %><br />
      <%= f.text_field :city, autocomplete: "city" %>
    </div>

    <div class="field">
      <%= f.label :state, "State:" %><br />
      <%= f.text_field :state, autocomplete: "state" %>
    </div>

    <div class="field">
      <%= f.label :zip, "Zip:" %><br />
      <%= f.text_field :zip, autocomplete: "zip" %>
    </div>

    <div class="field">
      <%= f.label :bio, "Bio:" %><br />
      <%= f.text_field :bio, autocomplete: "bio" %>
    </div>

    <div class="field">
      <%= f.label :genre, "Genre:" %><br />
      <%= f.text_field :genre, autocomplete: "genre" %>
    </div>

    <div class="field">
      <%= f.label :avatar, "Upload Profile Picture", class: "avatar-label" %>
      <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<div>
