<!DOCTYPE html>
<html>
<head>
  <title className="title">Primer</title>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="sticky sticky-top top-bar" data-sticky data-options="anchor: page; marginTop:0" role="navigation">
    <div class="text-center title">
      <h1><a href="/">Primer</a></h1>
    </div>
    <div>
      <%= form_for "/users", url: "/users", method: "GET" do |f| %>
        <div class="search-bar">
          <div class="columns large-6 medium-12 small-12">
            <%= f.text_field :query, :class => 'search-field' %>
          </div>
          <div class="columns large-6 medium-12 small-12">
            <%= f.submit "Search", :class => 'search-button' %>
          </div>
        </div>
      <% end %>
    </div>
    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <div>
            <%- if current_user.avatar? -%>
              <li><%= image_tag ("#{current_user.avatar}"), class: "avatar" %></li>
            <%- end -%>
          </div>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
